USE [master]
GO
/****** Object:  Database [DB]    Script Date: 08.01.2020 22:37:32 ******/
CREATE DATABASE [DB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\DB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\DB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DB]
GO
/****** Object:  Table [dbo].[Авторы]    Script Date: 08.01.2020 22:37:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Авторы](
	[KA] [int] IDENTITY(1,1) NOT NULL,
	[A] [varchar](255) NULL,
 CONSTRAINT [PK_Авторы] PRIMARY KEY CLUSTERED 
(
	[KA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Документы]    Script Date: 08.01.2020 22:37:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Документы](
	[KD] [int] IDENTITY(1,1) NOT NULL,
	[ND] [varchar](255) NULL,
	[Kod_A] [int] NULL,
	[Kod_T] [int] NULL,
	[D] [date] NULL,
 CONSTRAINT [PK_Документы] PRIMARY KEY CLUSTERED 
(
	[KD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Исполнители]    Script Date: 08.01.2020 22:37:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Исполнители](
	[KI] [int] IDENTITY(1,1) NOT NULL,
	[I] [varchar](255) NULL,
	[Kod_P] [int] NOT NULL,
 CONSTRAINT [PK_Исполнители] PRIMARY KEY CLUSTERED 
(
	[KI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Подразделение]    Script Date: 08.01.2020 22:37:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Подразделение](
	[KP] [int] IDENTITY(1,1) NOT NULL,
	[P] [varchar](10) NULL,
 CONSTRAINT [PK_Подразделение] PRIMARY KEY CLUSTERED 
(
	[KP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Поручения]    Script Date: 08.01.2020 22:37:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Поручения](
	[N] [int] IDENTITY(1,1) NOT NULL,
	[Kod_D] [int] NULL,
	[PO] [varchar](255) NULL,
	[Kod_I] [int] NULL,
	[DP] [date] NULL,
	[DI] [date] NULL,
 CONSTRAINT [PK_Поручения] PRIMARY KEY CLUSTERED 
(
	[N] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Тип документа]    Script Date: 08.01.2020 22:37:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Тип документа](
	[KT] [int] IDENTITY(1,1) NOT NULL,
	[T] [varchar](255) NULL,
 CONSTRAINT [PK_typeDoc] PRIMARY KEY CLUSTERED 
(
	[KT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Документы]  WITH CHECK ADD  CONSTRAINT [FK_Документы_Авторы] FOREIGN KEY([Kod_A])
REFERENCES [dbo].[Авторы] ([KA])
GO
ALTER TABLE [dbo].[Документы] CHECK CONSTRAINT [FK_Документы_Авторы]
GO
ALTER TABLE [dbo].[Документы]  WITH CHECK ADD  CONSTRAINT [FK_Документы_Тип документа] FOREIGN KEY([Kod_T])
REFERENCES [dbo].[Тип документа] ([KT])
GO
ALTER TABLE [dbo].[Документы] CHECK CONSTRAINT [FK_Документы_Тип документа]
GO
ALTER TABLE [dbo].[Исполнители]  WITH CHECK ADD  CONSTRAINT [FK_Исполнители_Подразделение1] FOREIGN KEY([Kod_P])
REFERENCES [dbo].[Подразделение] ([KP])
GO
ALTER TABLE [dbo].[Исполнители] CHECK CONSTRAINT [FK_Исполнители_Подразделение1]
GO
ALTER TABLE [dbo].[Поручения]  WITH CHECK ADD  CONSTRAINT [FK_Поручения_Документы] FOREIGN KEY([Kod_D])
REFERENCES [dbo].[Документы] ([KD])
GO
ALTER TABLE [dbo].[Поручения] CHECK CONSTRAINT [FK_Поручения_Документы]
GO
ALTER TABLE [dbo].[Поручения]  WITH CHECK ADD  CONSTRAINT [FK_Поручения_Исполнители] FOREIGN KEY([Kod_I])
REFERENCES [dbo].[Исполнители] ([KI])
GO
ALTER TABLE [dbo].[Поручения] CHECK CONSTRAINT [FK_Поручения_Исполнители]
GO
USE [master]
GO
