<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Учет_документооборота.Properties.Settings.DBConnectionString"
            connectionString="Data Source=DESKTOP-A48PMQ5;Initial Catalog=DB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Учет_документооборота.Properties.Settings.DBConnectionString1"
            connectionString="Data Source=DESKTOP-A48PMQ5;Initial Catalog=DB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>